<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>

<body>
    <h3>Articles</h3>
    <%for(let key of Object.keys(allArticles)){%>
        <h4><%=allArticles[key].title%></h4>
        <p><%=allArticles[key].content%></p>
    <%}%>
</body>

<footer></footer>

</html>